html, body{
    margin: 0;}
body {
    background: black;}
.container{
    width: 49vw;
    display: inline-block;
    vertical-align: top;
    height: 99vh;}
.terminal_holder {
    margin: 0;
    width: 100%;
    height: 100%;}
#terminal {
    width: 100%;
    height: 99.5%;}
.camera_holder{
    display: inline-block;
    width: 100%;
    height: 50%;}
#camera {
    width: 100%;
    height: 100%;}
.info_holder{
    display: inline-block;
    width: 100%;
    height: 49%;
    background-color: white;}
.text{
    color: #000;
    text-align: center;}
.rover_appearance{
    height: 100%;
    width: auto;
    margin: 0 25%;
    display: inline-block;}
